bootRE/boot.elf
recovery.img
system_ext/priv-app/Settings/Settings.apk
modem.img
odm/lib64/libarcsoft_turbo_fusion_mfnr.so
odm/lib64/libarcsoft_raw_sr.so
odm/etc/camera/unet.serialized.bin
product/firmware/vm-system/system.img
product/app/MiGameService_GameAI/MiGameService_GameAI.apk
product/app/VoiceAssistAndroidT/VoiceAssistAndroidT.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
product/data-app/MIUIVideo/MIUIVideo.apk
product/data-app/Health/Health.apk
product/data-app/MiMediaEditor/MiMediaEditor.apk
product/data-app/MIUIMusicT/MIUIMusicT.apk
product/data-app/SmartHome/SmartHome.apk
product/data-app/MIUIYoupin/MIUIYoupin.apk
product/data-app/MiShop/MiShop.apk
product/priv-app/MiuiCamera/MiuiCamera.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/NewCall/NewCall.apk
product/priv-app/MIUIAICR/MIUIAICR.apk
product/priv-app/MIUIBrowser/MIUIBrowser.apk
